.menuFiller {
  min-width: 100%;
  position: static;
  margin-bottom: 4%;
}

#linkedInLogo
{
  max-width: 60px;
  min-width: 60px;
}
#githubLogo
{
  max-width: 35px;
  min-width: 35px;
}

#githubLogo:hover, #linkedInLogo:hover
{
  transition: ease-out .1s;
  transform: scale(1.1);
}
.links
{
  position: fixed;
  width: fit-content;
  top: 12px;
  left: 1%;
}
.menuTabs {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  min-width: 100%;
  z-index: 100;
}

.tabs {
  flex-direction: row;
  justify-content: center;
  display: flex;
  width: 40%;
}

.tab {
  margin-left: 2%;
  margin-right: 2%;
}

.tabName
{
  font-weight: bold;
  text-decoration-line: none;
  font-size: x-large;
  display: block;
  color: white;
  width: 100%;
}

.tabName:hover {
  color: #00b4d8;
  transition: ease-out .1s;
  transform: scale(1.05);
}
.settings
{
  display: block;
  position: fixed;
  top: 13px;
  right: 25px;
}

.settingsIcon
{
  max-width: 35px;
  transition: .3s;
}

.settingsIcon:hover
{
  transform: rotate(-45deg)  scale(1.1);
  cursor: pointer;
}
.seperator {
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: default;
}
body {
  height: 100%;
  width: 100%;
  background-color: #e7e6f7;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}


#designTestContainer
{
    position: absolute;
    width: 100%;
    height: 110%;
    left: 0;
    top: -10%;
    overflow: hidden;
}