.colorThemeContainer{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: wheat;
    padding: 50%;
    min-width: 100%;
    top: 122%;
    right: -75%;
    z-index: 0;
    opacity: 0;
    border-style: solid;
    border-color: lightgray;
    background-color: whitesmoke;
    overflow: hidden;
    align-items: center;

    animation-name: moveDown;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.colorList
{
    padding: 0;
    width: 100%;
}
#themesTitle
{
    font-size: x-large;
    font-weight: bold;
}
@keyframes moveDown {
    100%
    {
        opacity: 1;
    }
}