.homeMainArea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    scrollbar-width: none;
}
.leftSide
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}
.rightSide
{
    margin-left: 5%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#introMessageContainer
{
    display: flex;
    padding: 2%;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
}
#contact
{
    color: black;
}
#contact:hover
{
    color: #00b4d8;
}
#experience
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 85%;
    margin-bottom: 5%;
}
#education
{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    max-width: 60%;
}
.title
{
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 50px;
    width: 50%;
    font-size: xx-large;
}
.expDescription
{
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 50px;
    width: 100%;
}
#skills
{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.languages
{
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 50px;
}
.tools
{
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 50px;
}
.image
{
    max-width: 75%;
    max-height: 75%;
    border-radius: 50px;
}
.imageContainer
{
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}
.name {
    font-size: 40px;
    background-color: #C2DFE3;
    border-radius: 50px;
    padding: 2%;
    margin-bottom: 5%;
    text-align: center;
}
.description
{
    background-color: #E0FBFC;
    border-radius: 50px;
    font-size: 24px;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.para1
{
    display: flex;
    padding: 3%;
    border-radius: 50px;
    width: 100%;
}
.para2
{
    display: flex;
    padding: 3%;
    border-radius: 50px;
    width: 100%;
}
.para3
{
    display: flex;
    padding: 3%;
    border-radius: 50px;
    width: 100%;
}
