.homeMainArea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    scrollbar-width: none;
}
.logoContainer
{
    display:contents;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}
#linkedInLogo2 {
    max-width: 21%;
    object-fit: contain;
    transition: .3s ease-in-out;
    opacity: 1;
}

#githubLogo2 {
    max-width: 12%;
    object-fit: contain;
    transition: .3s ease-in-out;
    opacity: 1;
}
#githubLogo2:hover, #linkedInLogo2:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

.socialMediaIcons {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin-bottom: 3%;
}

.leftSide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.rightSide {
    margin-left: 5%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#introMessageContainer {
    display: flex;
    height: fit-content;
    width: 80%;
    margin-bottom: 10%;
    background-color: transparent;
    padding: 10%;
}

#contact {
    color: black;
}

#contact:hover {
    color: #00b4d8;
}

#experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 85%;
    margin-bottom: 5%;
}

#education {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    max-width: 85%;
    margin-bottom: 25%;
    align-items: center;
}

#mainPageTitle 
{
    font-size: 40px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
}

#skills {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}

.languages {
    text-align: center;
    font-style: italic;
    font-family:monospace;
    margin-bottom: 2%;
}

.tools {
    text-align: center;
    font-style: italic;
    font-family:monospace;
    margin-bottom: 2%;
}
.image {
    max-width: 82%;
    max-height: 82%;
    transition: .3s ease-in-out;
    z-index: 1;
}

.image:hover {
    opacity: 1;
    transform: scale(1.01);
}

.imageContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 0%;
}

.name {
    transition: .3s;
    font-size: 40px;
    background-color: #C2DFE3;
    border-radius: 50px;
    padding: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.description {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    transition: .3s;
    margin-top: 5%;
    margin-bottom: 5%;
}
.para
{
    margin-bottom: 3%;
}
#contactButton
{
    display: flex;
    justify-content: center;
    text-align: center;
}